@using ImageAPI.Enums
@using MvcClient.Controllers

<style>
    img {
        height: 300px;
        padding: 25px;
    }

    .row {
        padding: 10px;
    }

    #selected-image {
        border: red 3px solid;
        border-radius: 5px;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label id="error-message" class="text-danger"> </label>
        </div>

        <div class="form-group">
            <input type="hidden" id="selected-image" value="" />
            <input class="btn btn-default" id="resize-button" type="button" value="@(ProcessType.Resize)" />
            <input class="btn btn-default" id="convert-button" type="button" value="@(ProcessType.Convert)" />
            <input class="btn btn-primary col-md-offset-3" id="btn-submit" type="submit" value="Process" />
        </div>

        <div class="form-group">
            <label class="col-md-3">Output</label>
            <div class="col-md-9">
                <input id="image-name" class="form-control" type="text" />
            </div>
        </div>

        <div class="form-group" id="convert-option">
            <div class="form-inline">
                <label>@ImageType.Jpg</label>
                <input id="jpg" type="radio" name="a" value="@((int)ImageType.Jpg)" />
            </div>

            <div class="form-inline">
                <label>@ImageType.Png</label>
                <input id="png" type="radio" name="a" value="@((int)ImageType.Png)" />
            </div>

            <div class="form-inline">
                <label>@ImageType.Gif</label>
                <input id="gif" type="radio" name="a" value="@((int)ImageType.Gif)" />
            </div>
        </div>

        <div class="form-group" id="resize-option">
            <div class="form-inline">
                <label>@ResizeType.Crop</label>
                <input id="crop" type="radio" name="b" value="@((int)ResizeType.Crop)" />
            </div>

            <div class="form-inline">
                <label>@ResizeType.KeepAspect</label>
                <input id="keep-aspect" type="radio" name="b" value="@((int)ResizeType.KeepAspect)" />
            </div>

            <div class="form-inline">
                <label>@ResizeType.Skew</label>
                <input id="skew" type="radio" name="b" value="@((int)ResizeType.Skew)" />
            </div>
        </div>

        <div id="sizes">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4">Width</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="width" />
                    </div>
                    <label class="col-md-4">Height</label>
                    <div class="col-md-8">
                        <input class="col-md-12 form-control" type="text" id="height" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4 crop-xy">X</label>
                    <div class="col-md-8">
                        <input class="crop-xy form-control" type="text" id="x" />
                    </div>
                    <label class="col-md-4 crop-xy">Y</label>
                    <div class="col-md-8">
                        <input class="crop-xy form-control" type="text" id="y" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        @for (int index = 1; index <= 5; index++)
        {
            <img src="~/Content/Pictures/organza@(index).jpg" class="col-md-6" />
        }
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img style="width: 400px;" id="preview-image" src="a" />
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="donwload-image" href="" download>Download</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        $('#myModal').modal().modal('hide');

        $('.modal').on('shown.bs.modal', function () {
            $('.modal').trigger('focus')
        })

        $('img').on('click', function () {
            $('img').attr('id', '');
            $(this).attr('id', 'selected-image');

            var selectedImagePath = $(this).attr('src');
            $('#selected-image').val(selectedImagePath);
        });

        function showErrorMessage(message) {
            $('#error-message').text(message);
            $('#error-message').show();
        }

        $('#btn-submit').on('click', function () {
            $('#error-message').hide();
            if ($('#selected-image').val() == undefined || $('#selected-image').val() == '') {
                showErrorMessage("Please select image");
                return;
            }

            if ($('#image-name').val() == undefined || $('#image-name').val() == '') {
                showErrorMessage('Please fill output image name');
                return;
            }

            var url = '';
            var data = {};
            if ($('#resize-button').hasClass('btn-success'))
            {
                url = '/api/webapi/resize';
                var selectedImage = $('#selected-image').val();
                var imageName = $('#image-name').val();
                var resizeType = $('input[name=b]:checked').val();
                if (resizeType == undefined)
                {
                    showErrorMessage('Please choose resize type');
                    return;
                }

                var width = $('#width').val();
                var height = $('#height').val();
                var x = $('#x').val();
                var y = $('#y').val();

                data = {
                    sourceImagePath: selectedImage,
                    destinationImageName: imageName,
                    resizeType: resizeType,
                    width: width,
                    height: height,
                    x: x,
                    y: y,
                }
            }
            else if ($('#convert-button').hasClass('btn-success'))
            {
                url = '/api/webapi/convert';
                var selectedImage = $('#selected-image').val();
                var imageName = $('#image-name').val();
                var imageType = $('input[name=a]:checked').val();
                if (imageType == undefined)
                {
                    showErrorMessage('Please choose image type');
                    return;
                }

                data = {
                    sourceImagePath: selectedImage,
                    destinationImageName: imageName,
                    imageType: imageType
                };
            }
            else
            {
                showErrorMessage('Please choose resize or convert');
                return;
            }

            $.ajax({
                url: url,
                method: 'get',
                data: data,
                success: function (data) {
                    $('#myModal').modal('show');
                    $('#myModal').find('img').attr('src', data);
                    $('#donwload-image').attr('href', data);
                },
                fail: function (message) {
                    showErrorMessage(message);
                },
            });
        });

    </script>

    <script>

        $('#convert-option,#resize-option,#sizes,.crop-xy').hide();

        $('#resize-button').on('click', () => {

            $('#resize-button').addClass('btn-success');
            $('#resize-button').removeClass('btn-default');

            $('#convert-button').addClass('btn-default');
            $('#convert-button').removeClass('btn-success');

            $('#resize-option').show();
            $('#convert-option').hide();
            $('.crop-xy').hide();
            $('#sizes').hide();
        });

        $('#convert-button').on('click', () => {

            $('#convert-button').addClass('btn-success');
            $('#convert-button').removeClass('btn-default');

            $('#resize-button').addClass('btn-default');
            $('#resize-button').removeClass('btn-success');

            $('#resize-option').hide();
            $('#convert-option').show();
            $('.crop-xy').hide();
            $('#sizes').hide();
        });

        $('#crop,#keep-aspect,#skew').on('click', () => {
            $('.crop-xy').hide();
            $('#sizes').show();
        });

        $('#crop').on('click', () => {
            $('.crop-xy').show();
        });


        function showError(data) {
            console.log(data.responseText);
            $('#error-container').html(data);
        }

        function updateImage(imagePath) {
            $('#input-image').val(imagePath);
            $('#image-show').attr('src', imagePath);
        }

        function previewImage(imagePath) {
            $('#preview-image').attr('src', imagePath);
            $('#donwload-image').attr('href', imagePath);
        }

    </script>
}